[submodule "libs/spdlog"]
	path = libs/spdlog
	url = https://github.com/gabime/spdlog.git
	branch = v1.x
[submodule "libs/fmt"]
	path = libs/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "libs/toml11"]
	path = libs/toml11
	url = https://github.com/ToruNiina/toml11.git
[submodule "libs/detours-cmake/Detours"]
	path = libs/detours_cmake/Detours
	url = https://github.com/microsoft/Detours
